@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");

body {
    font-family: "Sigmar One", cursive;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.main-text {
    margin-top: 250px;
    background: url(src/back2.jpg);
    font-size: 150px;
    color: transparent;
    -webkit-background-clip: text;
    animation: animate 20s 1s infinite linear;
}

@keyframes animate {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 100% 100%;
    }
}
